section {
    margin-top: 70px;
}

.product--container{
    width: 300px;
    padding-left: 10px;
    text-decoration: none;
    border: none;
}

.product--name {
    margin: 50px 0px 5px 0px;
    text-align: center;
    font-weight: 400;
}

.product--description {
    margin-top: 10px;
}

.btncontainer {
    display: flex;
    justify-content: center;
    padding: 15px 0px 40px 0px;
}

.container--addcartbtn {
    display: inline-block;
    background-color: #BEA25A;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 295px;
    max-width: 100%;
    
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.container--addcartbtn:hover {
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
}

