.dancing {
    font-family: "Dancing Script";
}

.titlecolor {
    color: #BEA25A;
    margin: 0px 30px;
}

.text-style {
    font-style: italic;
    opacity: 70%;
}

.stripe {
    height: 2px;
    width: 100%;
    color: black;
}

.flex-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    border: none;
    outline: none;
}

.product--price {
    font-weight: bold;
    color: black;
}

.product--description {
    font-style: italic;
    color: black;
    opacity: 70%;
    font-size: 12px;
}

.product--cardsize {
    width: 310px;
    padding-left: 10px;
    text-decoration: none;
    border: none;
}

.product--imagestyle {
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 10px;
}

.product--flexmain {
    display: flex;
    justify-content: space-between;
}
